body {
    font-family: 'Arial', sans-serif;
    background-color: #001f3f; /* Темно-синий фон */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.coin-container {
    position: relative;
}

#coin {
    width: 200px; /* Размер монеты */
    transition: transform 0.2s; /* Плавная анимация */
}

#coin:active {
    transform: scale(0.4); /* Уменьшение размера при нажатии */
}

#bonusText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: green;
    opacity: 0; /* Скрываем текст по умолчанию */
    transition: opacity 0.5s; /* Плавный переход */
}

.scoreboard {
    margin-top: 20px;
}

.progress-container {
    width: 100%;
    height: 20px;
    background-color: #555;
    border-radius: 10px;
    margin-top: 10px;
}

.progress-bar {
    height: 100%;
    width: 0;
    background-color: #28a745; /* Зеленый цвет для прогресс-бара */
    border-radius: 10px;
}
